/* box-1 */
.header-search .bb-btn-group-form input {
  border-radius: 0;
}

.select-options {
  border-radius: 0;
}

.bb-category-img .bb-offers {
  border-radius: 0;
}

.category-sidebar, .bb-side-cart, .qty-plus-minus, .bb-popnews-box, .bb-btn-2 {
  border-radius: 0;
}

.custom-dropdown ul.dropdown {
  border-radius: 0;
}

.section-instagram .bb-title {
  border-radius: 0;
}

.bb-side-cart .bb-cart-box .bb-cart-banner .banner {
  border-radius: 0;
}
.bb-side-cart .bb-cart-box .bb-cart-banner .banner .detail a {
  border-radius: 0;
}

.quickview-modal .modal-content {
  border-radius: 0;
}

.input-item input {
  border-radius: 0;
}

.bb-accordion-item .accordion-head {
  border-radius: 0;
}

.bb-details-input input, .bb-details-input textarea {
  border-radius: 0;
}

.bb-login-wrap input {
  border-radius: 0;
}

.bb-main-menu-desk .bb-inner-menu-desk .bb-header-btn {
  border-radius: 0;
}
.bb-main-menu-desk .bb-inner-menu-desk .bb-main-menu ul.navbar-nav .bb-mega-dropdown .bb-mega-menu {
  border-radius: 0;
}
.bb-main-menu-desk .bb-inner-menu-desk .bb-main-menu ul.navbar-nav .bb-dropdown .bb-dropdown-menu {
  border-radius: 0;
}
.bb-main-menu-desk .bb-inner-menu-desk .bb-main-menu ul.navbar-nav .bb-main-dropdown .mega-menu {
  border-radius: 0;
}
.bb-main-menu-desk .bb-inner-menu-desk .bb-dropdown-menu .inner-select {
  border-radius: 0;
}

.bb-btn-1 {
  border-radius: 0;
}

.bb-btn-2 {
  border-radius: 0;
}

input,
textarea {
  border-radius: 0;
}

.bottom-header .inner-bottom-header .bb-header-buttons .bb-acc-drop .bb-dropdown-menu {
  border-radius: 0;
}

.hero-slider .swiper-pagination-bullet {
  border-radius: 0;
}

.bb-category-img img {
  border-radius: 0;
}

.bb-category-box {
  border-radius: 0;
}

.bb-category-block {
  border-radius: 0 !important;
}
.bb-category-block:before {
  background-image: none !important;
}
.bb-category-block:after {
  background-image: none !important;
}

.bb-deal .dealend-timer .dealend-timer {
  border-radius: 0;
}

.bb-pro-box {
  border-radius: 0;
}
.bb-pro-box .bb-pro-img .bb-pro-actions .bb-btn-group {
  border-radius: 0;
}
.bb-pro-box .bb-pro-img .inner-img {
  border-radius: 0;
}

.width-50 .bb-pro-box .bb-pro-img {
  border-radius: 0 !important;
}
.width-50 .bb-pro-box .bb-pro-img .inner-img {
  border-radius: 0;
}

.banner-box {
  border-radius: 0;
}

.banner-two-box {
  border-radius: 0;
}
.banner-two-box:after {
  background-image: none !important;
}
.banner-two-box:before {
  background-image: none !important;
}

.bb-services-box {
  border-radius: 0;
}

ul.bb-vendors-tab-nav li a {
  border-radius: 0;
}

.bb-vendors-img img {
  border-radius: 0;
}
.bb-vendors-img .tab-vendors-pane a {
  border-radius: 0;
}
.bb-vendors-img .vendors-local-shape {
  border-radius: 0 !important;
}
.bb-vendors-img .vendors-local-shape .inner-shape:before {
  background-image: none !important;
}
.bb-vendors-img .vendors-local-shape .inner-shape:after {
  background-image: none !important;
}

.bb-cart-table {
  border-radius: 0;
}

.bb-testimonials .bb-testimonials-inner .testimonials-image img {
  border-radius: 0;
}
.bb-testimonials .bb-testimonials-inner .testimonials-contact img {
  border-radius: 0;
}
.bb-testimonials .bb-testimonials-inner .testimonials-contact .inner-contact {
  border-radius: 0;
}
.bb-testimonials .testimonials-img-1 {
  border-radius: 0;
}
.bb-testimonials .testimonials-img-2 {
  border-radius: 0;
}
.bb-testimonials .testimonials-img-3 {
  border-radius: 0;
}
.bb-testimonials .testimonials-img-4 {
  border-radius: 0;
}
.bb-testimonials .testimonials-img-5 {
  border-radius: 0;
}
.bb-testimonials .testimonials-img-6 {
  border-radius: 0;
}

.bb-pro-pagination ul li a {
  border-radius: 0;
}

.bb-category-toggle {
  border-radius: 0;
}

.bb-compare-box {
  border-radius: 0;
}

.blog-2-card {
  border-radius: 0;
}
.blog-2-card .blog-img img {
  border-radius: 0;
}
.blog-2-card .blog-contact {
  border-radius: 0;
}

.bb-instagram-card .instagram-img {
  border-radius: 0;
}
.bb-instagram-card .instagram-img::before {
  border-radius: 0;
}
.bb-instagram-card .instagram-img img {
  border-radius: 0;
}

.bb-footer .footer-top .bb-footer-widget .app-img img {
  border-radius: 0;
}
.bb-footer .footer-top .bb-footer-social .bb-footer-widget .bb-footer-links .bb-footer-link a {
  border-radius: 0;
}

.bb-tools-sidebar .bb-tools-sidebar-toggle {
  border-radius: 0;
}

.bb-side-cart .bb-cart-box ul.bb-cart-items li {
  border-radius: 0;
}
.bb-side-cart .bb-cart-box ul.bb-cart-items li .bb-cart-pro-img img {
  border-radius: 0;
}

.bb-tags ul li {
  border-radius: 0;
}

.bb-category-sidebar .bb-category-cart {
  border-radius: 0;
}
.bb-category-sidebar .bb-category-cart .pro-img {
  border-radius: 0;
}
.bb-category-sidebar .bb-category-cart .pro-img img {
  border-radius: 0;
}

.bb-mobile-menu .bb-menu-inner .bb-menu-content ul li a {
  border-radius: 0;
}
.bb-mobile-menu .bb-menu-inner .header-res-social ul li {
  border-radius: 0;
}

.quickview-modal .modal-content .single-pro-img {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
}

.coupon-down-box .bb-coupon {
  border-radius: 0;
}

.bb-pro-variation ul li {
  border-radius: 0;
}

.bb-pro-list-top {
  border-radius: 0;
}
.bb-pro-list-top .bb-bl-btn button.active {
  border-radius: 0;
}

.width-100 .bb-pro-box .bb-pro-img .inner-img {
  border-radius: 0 !important;
}

.bb-shop-wrap {
  border-radius: 0;
}

.bb-color-contact ul li .bb-sidebar-block-item span {
  border-radius: 0;
}

.bb-sidebar-block-item .checked {
  border-radius: 0;
}

.price-range-slider .range-bar .ui-slider-handle {
  border-radius: 0;
}

ul.bb-shop-tags li a {
  border-radius: 0;
}

.bg-bnr-one {
  border-radius: 0;
}

.bg-bnr-two {
  border-radius: 0;
}

.bb-bnr-details .overlay-bnr {
  border-radius: 0;
}
.bb-bnr-details .bb-image img {
  border-radius: 0;
}

.section-track .track, .section-track .block-title {
  border-radius: 0;
}
.section-track .bb-progress li {
  border-radius: 0;
}

.section-terms .desc {
  border-radius: 0;
}

.bnr-details-bg {
  border-radius: 0;
}

.single-pro-slider {
  border-radius: 0;
}
.single-pro-slider .single-nav-thumb .slick-slide img {
  border-radius: 0;
}
.single-pro-slider .single-product-cover .zoom-image-hover {
  border-radius: 0;
}
.single-pro-slider .single-product-cover .zoom-image-hover img {
  border-radius: 0;
}

.price-range-slider .range-value input {
  border-radius: 0;
}

.bb-inner-tabs,
.bey-single-accordion {
  border-radius: 0;
}
.bb-inner-tabs .accordion .accordion-item .accordion-header .accordion-button,
.bey-single-accordion .accordion .accordion-item .accordion-header .accordion-button {
  border-radius: 0;
}
.bb-inner-tabs .bb-reviews .reviews-bb-box .inner-image img,
.bey-single-accordion .bb-reviews .reviews-bb-box .inner-image img {
  border-radius: 0;
}
.bb-inner-tabs .bb-reviews-form .input-box input,
.bb-inner-tabs .bb-reviews-form .input-box textarea,
.bey-single-accordion .bb-reviews-form .input-box input,
.bey-single-accordion .bb-reviews-form .input-box textarea {
  border-radius: 0;
}

.bb-single-pro-contact .bb-single-qty .bb-pro-actions a {
  border-radius: 0;
}
.bb-single-pro-contact .bb-single-pro-weight .bb-pro-variation-contant ul li {
  border-radius: 0;
}

.bb-vendor-rows .bb-vendor-box {
  border-radius: 0;
}

.bb-team-box .bb-team-img img {
  border-radius: 0;
}
.bb-team-box .bb-team-img .bb-team-socials {
  border-radius: 0;
}
.bb-team-box .bb-team-img .bb-team-socials .inner-shape:before {
  background-image: none !important;
}
.bb-team-box .bb-team-img .bb-team-socials .inner-shape:after {
  background-image: none !important;
}

.bb-contact-maps iframe {
  border-radius: 0;
}

.bb-contact-form {
  border-radius: 0;
}
.bb-contact-form .bb-contact-wrap input,
.bb-contact-form .bb-contact-wrap textarea {
  border-radius: 0;
}

.bb-cart-table table tbody .Product-cart img {
  border-radius: 0;
}

.bb-cart-sidebar-block {
  border-radius: 0;
}
.bb-cart-sidebar-block .bb-sb-blok-contact .input-box input {
  border-radius: 0;
}
.bb-cart-sidebar-block .bb-sb-blok-contact .input-box .custom-select {
  border-radius: 0;
}

.bb-checkout-contact {
  border-radius: 0;
}
.bb-checkout-contact .input-box-form .input-item .custom-select {
  border-radius: 0;
}

.bb-checkout-sidebar .checkout-items {
  border-radius: 0;
}
.bb-checkout-sidebar .about-order textarea {
  border-radius: 0;
}
.bb-checkout-sidebar .bb-checkout-pro .pro-items {
  border-radius: 0;
}
.bb-checkout-sidebar .bb-checkout-pro .pro-items .image img {
  border-radius: 0;
}

.bb-faq-contact .accordion-item .accordion-button {
  border-radius: 0 !important;
}

.bb-faq-img img {
  border-radius: 0;
}

.bb-login-contact {
  border-radius: 0;
}

.bb-register {
  border-radius: 0;
}

.bb-register form .bb-register-wrap input,
.bb-register form .bb-register-wrap .custom-select {
  border-radius: 0;
}

.bb-blog-card {
  border-radius: 0;
}
.bb-blog-card .blog-image img {
  border-radius: 0;
}

.bb-blog-sidebar .blog-inner-contact {
  border-radius: 0;
}
.bb-blog-sidebar .blog-inner-contact .blog-sidebar-card {
  border-radius: 0;
}
.bb-blog-sidebar .blog-inner-contact .blog-sidebar-card .inner-image {
  border-radius: 0;
}
.bb-blog-sidebar .blog-inner-contact .blog-sidebar-card .inner-image img {
  border-radius: 0;
}

.bb-blog-details-contact .inner-blog-details-image img {
  border-radius: 0;
}
.bb-blog-details-contact .inner-blog-details-contact .blog-inner-image img {
  border-radius: 0;
}
.bb-blog-details-contact .bb-blog-details-comment .bb-comment-box .inner-image img {
  border-radius: 0;
}
/*# sourceMappingURL=box-1.css.map */